*{
	padding: 0;
    margin: 0
    box sizing border-box
}

.app {
	width: 100%;
	height: 100vh;
	display: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#element-for-modify {
   color: rgb(69, 4, 189);
}

h2-class {
	color: blue;
}

body {
	background-color: #dd892a;
}

input{
	width: 250 px;
	outline: 0;
	border: 1px #ccc solid;
	border-radius: 3px;
	padding: 5px;
	transition: all .5s ease-in-out;
}

input:focus{
	border: 2px royalblue solid;
}

button{
	margin-top: 1rem;
	width: 200px;
	background-color: seagreen;
	color: #fff;
	border-radius: 3px;
	outline: 0;
	border: 0;
	transition: all .5 ease-in-out;
	cursor: pointer;
}

button:hover{
	opacity: .75;
}

.qrcode{
	margin-top: 1rem;
	width: 128px;
	height: 128px;
	border: 2px #000 solid;
	
}